body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    border: 15px solid rgb(54, 54, 54);
}
.first-sec{
    display:flex;
    margin-bottom: 150px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
   
}
.first-heading{
    color:rgb(112, 112, 110);
    font-weight: bolder;
    font-size: 65px;
}
.color_s{
    color: rgb(236, 132, 94);
}
.first-sec .div-width{
    width: 50%;
}
.first-sec .allignment1{
    padding-top: 12%;
    padding-left: 3%;
}
.first-par{
    font-size: 20px;
}
.order_food{
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 50px;
    background-image: linear-gradient(rgb(71, 187, 115),rgb(241, 66, 35));
    padding: 20px 40px;
    box-shadow: 5px 5px 5px rgb(228, 153, 15);
}
.second-sec{
    display:flex;
    margin-bottom: 150px;
    background-image: url(files/images/shapes/7.png);
    background-repeat: no-repeat;
}
.second-sec .sec-heading{
    color: rgb(112, 112, 110);
    font-size: 35px;
    font-weight: bolder;
}
.second-sec .sec-par{
    font-size: 16px;
}
.second-sec .div2-width{
    width: 50%;
}
.second-sec .sec-img{
    width: 60%;
}
.second-sec .allignment2{
    padding-top: 5%;
    padding-left: 13%;
    padding-right: 2%;
}
.second-sec .allignment3{
    margin-top: 7%;
    margin-right: 10%
}
.div2-width .contact-me{
    margin-top: 100px;
}
.third-sec{
    margin-bottom: 150px;
}
.allignment4{
    text-align: center;
    color:rgb(165, 82, 133);
}
.third-heading{
    color: rgb(112, 112, 110);
    font-size: 35px;
    font-weight: bolder;
}
.third-sec .third-div{
    display:flex;
    margin-bottom: 100px;
    margin: 5%;
}
.third-div .cover{
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 0px 0px 10px 5px rgb(204, 202, 202);
    border-radius: 20px;
    padding: 20px;
}
.Recipie{
    width: 100%;
    margin-bottom: 10px;
}
.R_title{
    font-size: 30px;
    font-weight: bolder;
}
.additional-box{
    display: flex;
    margin: 6%;
    box-shadow: 0px 0px 10px 5px rgb(204, 202, 202);
    border-radius: 25px;
}
.additional-box h1{
    font-size: 45px;
    font-weight: bolder;
}
.additional-box .units{
    width: 25%;
    margin: 6%;
    padding-left: 5%;
}
.last-section{
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}
.last-section h2{
    font-size: 35px;
    font-weight: bolder;
    color: rgb(199, 195, 195);
}
.last-section h2 span{
    color: rgb(236, 99, 84);
}
.last-section p{
    color: white;
}